.header_container{
    height: 100vh;
    background: linear-gradient(to bottom right, #fa6220, #ef8b33);
}
.header__left{
    width: 70vw;
    height: 100vh;
    padding-left: 100px;
    background: linear-gradient(#242842cb,#242842d0),url(../assets/banner_image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 350px;
}

.header__left_content_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    margin-bottom: 1.5rem;
}
.header__left_content_text h1{
    font-size: 3rem;
}
.header_starting_text{
    position: relative;
    margin-left: 80px;
    padding-inline: 5px;
}
.header_starting_text::after{
    position:absolute;
    content: '';
    background-color: white;
    top: 50%;
    left: -75px;
    width: 70px;
    height: 1px;
}
.header__banner_img{
    position: absolute;
    top: 20%;
    left: 58%;
    
}
.header__banner_img_main{
    width: 480px;
    border-bottom-left-radius:180px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
}
.header__banner_img_icon{
    position: absolute;
    left: -80px;
    top: 30px;
    width: 120px;
}
.header__left_content_buttons{
    display: flex;
    gap: 1rem;
  
}
.header_designicon1{
    position: absolute;
    top: 80%;
    left: 50px;
    
}