.navbar{
    display: flex;
    gap: 8rem;
    align-items: center;
    position: fixed;
    margin-inline: 90px;
    margin-top: 1rem;
    width: 100vw;
}
.navbar__logo img{
    width: 180px;
}
.navbar__links ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar__link a{
    text-decoration: none;
    color: white;
}
.navbar__contact{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    position: absolute;
    left:61%;
}
.navbar__contact_img{
    background-color: white;
    border-radius: 50%;

}
.navbar__contact img{
    width: 50px;
    padding: 10px;
}